# Ignore node_modules folder (dependencies will be installed in the container)
node_modules

# Ignore build directory (it will be generated in the container)
build

# Ignore any log files
*.log

# Ignore the Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore Git-related files and directories
.git
.gitignore

# Ignore environment files (uncomment if you want to exclude them)
# .env

# Ignore IDE and editor configuration files
.vscode
.idea

# Ignore OS-specific files
.DS_Store
Thumbs.db
